.sections {
  height: fit-content;
  /* width: 100%; */
  padding: 30px;
  margin: 30px;
  /* background-color: blue; */
}

.profile-roles {
  padding: 5px;
  font-size: larger;
}
.resume-container {
  height: 100%;
  margin-left: 130px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.resume:hover {
  background-color: #000;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.contact {
  margin-left: 130px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #2ee59d; */
}
.contact-icons {
  width: fit-content;
  margin: 20px;
  cursor: pointer;
}
.contact-icons:hover{
    /* background-color: #000; */
    box-shadow: 0px 10px 20px rgba(46, 229, 157, 0.4);
    /* color: #fff; */
    /* transform: translateY(-7px); */
}
.portfolio-footer {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #555;
  margin-top: 50px;
}

.portfolio-footer p {
  margin: 0;
}
