@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}
.main {
  background-image: radial-gradient(
    circle,
    #070506,
    #0b0509,
    #0c050e,
    #0b0612,
    #080716,
    #070d1b,
    #04121f,
    #001622,
    #001c27,
    #00222a,
    #00282b,
    #002e2b
  );
}
  